html, body {
  height: 100%;
}

main {
  min-height: 100%;    
}

main > .container {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    background-color: #f8f8f8;
    border-top: solid 1px #e7e7e7;
}


.loader {
    position: absolute;
    cursor: wait;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    font-size: 30px;
}

div[ng-view] {
    margin-top: 70px;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}